<div id="login" [NgClass]="modal">
    <form class="content-animate" action="" method="post">
        <span (click)="fechar" class="close"></span>
    

    <div>
        <div class="container">
            <label for="user"><b>Usuário</b></label>
            <input type="text" placeholder="Insira o nome de usuário" name="user" required [(ngModel)]="acessarObj.user">
            <label for="senha"><b>Senha</b></label>
            <input type="password" placeholder="Insira a senha" name="senha" required [(ngModel)]="acessarObj.senha">
            <button type="sumbit">Acessar o Sistema</button>
        </div>
        <span class="senha">Esqueceu <a href="#">a senha?</a></span>
    </div>
  </form>
</div>

<div id="container">
    <div id="logo" style="font-size: 20px;">NatalAlegre</div>
    <div id="links">
        <div><a routerLink="/" class="link">Notícias</a></div>
        <div><a routerLink="/doacao" class="link">Doações</a></div>
        <div class="link">Lugar Kids</div>
        <div class="link">Sobre</div>
        <div class="link">Contato</div>
        <div>|</div>
        <div class="link" (click)="abrir">Login</div>
        <div class="link">Registrar</div>
    </div>
</div>
