#container {
    display: flex;
    padding: 20px 30px ;
    margin-bottom: 20px;
    background-color: rgb(179, 19, 19);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#logo {
    font-size: 20px;
}

#links {
    flex-grow: 1;
    display: flex;
    gap: 15px;
    justify-content: right;
}

.link{
    cursor: pointer;
    color: white;
    text-decoration: none;

}

.link:hover{
    color:rgba(17, 128, 17);
}

.aberto{
    display: block;
    position: fixed;
    overflow: auto;
    z-index: 1;
    width: 200px;
    height: 300px;
    padding-top: 20px;
    padding-right: 80%;
}

.fechado{
    display: none;
}