#footer {
    padding: 0;
    text-align: center;
    background: #ff0000;
    color: white;
    font-size: 15px;
    line-height: 1.1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    flex: 1;
    margin-top: 50px;
}

.textobaixo {
    margin-right: 150px;
}

.social {
    height: 30px;
    width: 30px;
    background-color: green;
}