<h1>Seja um "Papai Noel" para alguém!</h1>
<p>A suas doações ajudarão famíliase crianças em todo mundo a sentirem o verdadeiro espirito natalino!</p><br>
<p>Comece a doar para a causa:</p>
<form action="">
    <label for="doacao" id="causa">Doação para [CAUSA]:</label>
    <input type="text" id="doacao" name="doacao"><br><br>
    <input type="submit" value="Submit">
</form>
<div>
    <b>Selecionar causa:</b><br>
    <input type="checkbox">
    <img src="assets/brinquedo.png" alt="Icone Brinquedo">
    <input type="checkbox">
    <img src="assets/brinquedo.png" alt="Icone Brinquedo">
    <input type="checkbox">
    <img src="assets/brinquedo.png" alt="Icone Brinquedo">
    <input type="checkbox">
    <img src="assets/brinquedo.png" alt="Icone Brinquedo">
</div>