<section id="sobre">

    <div class="container">

        <h2>Sobre Nós</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod nibh sit amet orci ullamcorper, in malesuada lorem tristique. Suspendisse potenti. 
            Ut maximus felis eu mauris tincidunt, eu tempor sapien pretium.</p>
        <p>Nulla facilisi. Sed ultricies quam sit amet lectus tincidunt, 
            vitae pretium libero dictum. Nulla ut tincidunt sem. Integer at sollicitudin nulla. 
            Phasellus at dui lectus.</p>
        
        <div class="info">

            <h3>Nosso Objetivo</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod nibh sit amet orci ullamcorper, in malesuada lorem tristique. Suspendisse potenti. 
                Ut maximus felis eu mauris tincidunt, eu tempor sapien pretium.</p>
            <p>Nulla facilisi. Sed ultricies quam sit amet lectus tincidunt, 
                vitae pretium libero dictum. Nulla ut tincidunt sem. Integer at sollicitudin nulla. 
                Phasellus at dui lectus.</p>

        </div>
        
        <div class="team">

            <h3>Equipe</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod nibh sit amet orci ullamcorper, in malesuada lorem tristique. Suspendisse potenti. 
                Ut maximus felis eu mauris tincidunt, eu tempor sapien pretium.</p>
            <p>Nulla facilisi. Sed ultricies quam sit amet lectus tincidunt, 
                vitae pretium libero dictum. Nulla ut tincidunt sem. Integer at sollicitudin nulla. 
                Phasellus at dui lectus.</p>
                
        </div>
    </div>
</section>
