<div id="destaque">

    <h1>NatalAlegre está agora na Paraíba</h1>

    <img style="width: 800px; height: 400px;"  src="assets/papainoel.png" alt="Papai Noel">

    <h3>Papai Noel chegou cedo! E ele está ajudando a trazer para crianças e famílias paraíbanas</h3>
    <p>Leia Mais</p>
    <br>
    
</div>


<div class="container">

    <div class="prenoticias">
        <div class="noticias">
            <h2>NatalAlegre construindo lares</h2>
            <p>Foi arrecadado mais de R$ 2.000.000 na construção de lares para os paraibanos</p>
            <p>Leia mais</p>
        </div>
        <div class="noticias">
            <h2>Reviva a infância</h2>
            <p>Evento marcado para o dia 20 de dezembro para todas as crianças e principalmente adultos</p>
            <p>Leia mais</p>
        </div>
        <div class="noticias">
            <h2>A magia do natal nas escolas</h2>
            <p>Veja como professores e alunos estão sendo beneficiados pelo espirito natalino!</p>
            <p>Leia mais</p>
        </div>
</div>
