<div class="container">

    <div class="Descricao">
    
        <h1>Espaço kids</h1>
    
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
        Unde adipisci alias quia illum, minima deserunt ab delectus, <br>
        vitae eaque molestiae, laborum voluptatum error hic ipsa amet repudiandae sed. Corrupti, eaque.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.gsgsd
        <br>
        
        <button class="botao">Saiba como doar</button>
    
    </div>
    
    
    <div class="imagem">
    
    <img style="width: 600px; height: 400px;" src="assets/sobre_img.png" alt="">
    
    </div>
    
    </div>
