<section id="espaco-kids">
    <div class="container">
        <h2>Escreva sua Cartinha para o Papai Noel!</h2>
        <p>Oi, pequenino! Está na hora de escrever sua cartinha para o bom velhinho! 🎅 Se você ainda não sabe escrever, peça ajuda para um adulto. O Papai Noel vai adorar saber o que você deseja para o Natal!</p>

        <!-- Formulário para enviar a carta -->
        <div class="form-container">
            <h3>Envie sua cartinha agora!</h3>
            <form action="" method="POST">
                <label for="email">Seu E-mail:</label>
                <input type="email" id="email" name="email" required placeholder="Digite seu e-mail" [(ngModel)]="cartinhaObj.email">

                <label for="mensagem">Sua Cartinha para o Papai Noel:</label>
                <textarea id="mensagem" name="mensagem" rows="5" required placeholder="Escreva seu pedido para o Papai Noel..." [(ngModel)]="cartinhaObj.mens"></textarea>

                <button type="submit" (click)="enviarCartinha()">Enviar Cartinha!</button>
            </form>
        </div>
    </div>
</section>